# Add your domains here!

[Unit]
Description=Certbot renewal service for YOUR_DOMAIN
Documentation=https://certbot.eff.org/docs/ http://www.duckdns.org/spec.jsp
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=certbot certonly -n -q --agree-tos --manual --manual-public-ip-logging-ok -d YOUR_DOMAIN -d "*.YOUR_DOMAIN" --preferred-challenges dns --manual-auth-hook /usr/local/lib/duckdns-certbot --manual-cleanup-hook "/usr/local/lib/duckdns-certbot cleanup"
